* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: orange;
  transition: background 1s;
}

#quote-box {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 75%;
}

#opacity {
  opacity: 1;
}
#opacity.isupdating {
  animation: fadeInOut 1s linear forwards;
}
@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

#author {
  padding-top: 10px;
  padding-bottom: 30px;
}

button {
  border: 1px solid grey;
}

button:active {
  outline: none;
  background: none;
  border: 2px solid black;
}
button:focus {
  outline: none;
}